.title {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: yellow;
    font-size: 3rem;
    padding: 0;
    gap: 0.5rem;
    h1, h2, h3 {
        letter-spacing: 0.1rem;
         background-color: rgba(234, 0, 255, 0.5);
         padding: 0 1.5rem;
         border: 3px solid yellow;
    }
}

body {
    overflow: hidden;
}